<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Story </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">

    <style></style>
</head>
<body>

    <p> </p>



    <a class="signup" id="signup" href="/signup"> Sign Up </a>

    <a class="login" id="login" href="/login"> Log In </a>

    <a class="option1_1" id="option1_1" href="/option1_4"> </a>

    <a class="option2_1" id="option2_1" href="/option2_4"> </a>

    <a class="logout" id="logout" href="/logout"> Logout </a>

</body>
</html>
